{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

 {% block sonata_page_content_header %}
    <h2>Экспорт логов конкурсов</h2>
{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block form %}
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-success" type="submit">Получить логи</button>
    {{ form_end(form) }}
{% endblock %}
